*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 350px;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 22px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.4);
          box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.4);
}

.header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__content .header__button {
  display: none;
}

@media only screen and (max-width: 450px) {
  .header .header__content .header__button {
    display: block;
    background-color: transparent;
    border: none;
  }
}

.header .header__content .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 450px) {
  .header .header__content .header__left .header__logo {
    margin-right: 110px;
  }
}

.header .header__content .header__left .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 58px;
}

@media only screen and (max-width: 450px) {
  .header .header__content .header__left .header__list {
    display: none;
  }
}

.header .header__content .header__left .header__list .header__item {
  margin-right: 32px;
}

.header .header__content .header__left .header__list .header__item:nth-child(3) {
  margin-right: 0;
}

.header .header__content .header__left .header__list .header__item .header__link {
  font-family: "Space Mono", sans-serif;
  color: #939CAA;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.header .header__content .header__left .header__list .header__item .header__link:hover {
  color: #FCB72B;
}

@media only screen and (max-width: 450px) {
  .header .header__right {
    display: none;
  }
}

.header .header__right .header__button-link {
  color: #fff;
  font-family: "Space Mono", sans-serif;
  padding: 14px 39px;
  background-color: #FCB72B;
}

.header .header__right .header__button-link:hover {
  border: 3px solid #FCB72B;
  color: #FCB72B;
  background-color: #fff;
  padding: 11px 36px;
}

.scooter {
  position: relative;
  height: 650px;
  width: 100%;
  background-image: url(../../../img/intro-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 96px;
  margin-bottom: 160px;
}

@media only screen and (max-width: 770px) {
  .scooter {
    background-position: right;
    margin-bottom: 122px;
  }
}

@media only screen and (max-width: 450px) {
  .scooter {
    margin-top: 64px;
  }
}

.scooter::after {
  content: '';
  position: absolute;
  background-image: url(../../../img/aylana.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 234px;
  height: 80px;
  right: 0;
  top: 400.5px;
}

@media only screen and (max-width: 770px) {
  .scooter::after {
    display: none;
  }
}

.scooter .scooter__title {
  width: 500px;
  font-family: "Space Mono", sans-serif;
  letter-spacing: -2.5px;
  font-size: 56px;
  line-height: 56px;
  color: #fff;
  margin-bottom: 40px;
  padding-top: 153px;
}

@media only screen and (max-width: 770px) {
  .scooter .scooter__title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 450px) {
  .scooter .scooter__title {
    width: 311px;
    font-size: 40px;
    line-height: 40px;
  }
}

.scooter .scooter__text {
  position: relative;
  color: #fff;
  width: 405px;
  margin-bottom: 40px;
  margin-left: 92px;
}

@media only screen and (max-width: 770px) {
  .scooter .scooter__text {
    text-align: center;
    width: 573px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 450px) {
  .scooter .scooter__text {
    width: 311px;
    margin-bottom: 34px;
  }
}

.scooter .scooter__text::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 202.5px;
  background-image: url(../../../img/line-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: -259.5px;
  top: 35px;
}

@media only screen and (max-width: 770px) {
  .scooter .scooter__text::before {
    display: none;
  }
}

.scooter .scooter__text::after {
  content: '';
  position: absolute;
  height: 149px;
  width: 447px;
  background-image: url(../../../img/line-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: -487px;
  top: 35px;
}

@media only screen and (max-width: 770px) {
  .scooter .scooter__text::after {
    left: -40%;
    top: 180px;
  }
}

@media only screen and (max-width: 450px) {
  .scooter .scooter__text::after {
    top: 200px;
    left: -350px;
  }
}

.scooter .scooter__link {
  color: #fff;
  font-family: "Space Mono", sans-serif;
  padding: 14px 39px;
  background-color: #FCB72B;
  margin-left: 92px;
}

@media only screen and (max-width: 770px) {
  .scooter .scooter__link {
    margin-left: 255px;
  }
}

@media only screen and (max-width: 450px) {
  .scooter .scooter__link {
    margin-left: 70px;
  }
}

.scooter .scooter__link:hover {
  border: 3px solid #FCB72B;
  color: #FCB72B;
  background-color: transparent;
  padding: 11px 36px;
}

.info {
  position: relative;
  margin-bottom: 200px;
}

@media only screen and (max-width: 770px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 145px;
  }
}

@media only screen and (max-width: 450px) {
  .info {
    margin-bottom: 100px;
  }
}

.info .element {
  width: 967px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E5ECF4;
  margin-bottom: 87px;
}

@media only screen and (max-width: 450px) {
  .info .element {
    display: none;
  }
}

.info .element .elemen__item {
  margin-left: 130px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 770px) {
  .info .element .elemen__item {
    margin-left: 0px;
    margin-top: 122px;
  }
}

@media only screen and (max-width: 770px) {
  .info .element {
    height: 660px;
    width: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 150px;
    margin-top: -122px;
  }
}

.info .info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 770px) {
  .info .info__list {
    display: block;
    margin-left: 99px;
  }
}

@media only screen and (max-width: 450px) {
  .info .info__list {
    margin-left: 0;
  }
}

.info .info__list .info__item {
  margin-right: 30px;
  width: 350px;
}

@media only screen and (max-width: 770px) {
  .info .info__list .info__item {
    margin-right: 0;
    margin-bottom: 90px;
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .info .info__list .info__item {
    width: 311px;
  }
}

.info .info__list .info__item:nth-child(2) .info__title::before {
  background-image: url(../../../img/motosikle.svg);
}

.info .info__list .info__item:nth-child(3) .info__title::before {
  background-image: url(../../../img/dastavka-2.svg);
}

.info .info__list .info__item .info__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -1.07143px;
  color: #495567;
  font-family: "Space Mono", sans-serif;
  margin-bottom: 27px;
}

@media only screen and (max-width: 450px) {
  .info .info__list .info__item .info__title {
    font-size: 20px;
    letter-spacing: -0.892857px;
    text-align: center;
    position: relative;
    padding-top: 80px;
  }
  .info .info__list .info__item .info__title::before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    background-image: url(../../../img/telephone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 125px;
  }
}

.info .info__list .info__item .info__text {
  color: #939CAA;
}

@media only screen and (max-width: 450px) {
  .info .info__list .info__item .info__text {
    text-align: center;
    width: 311px;
    margin: 0 auto;
  }
}

.easy {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.easy::after {
  content: '';
  position: absolute;
  background-image: url(../../../img/line-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 735px;
  height: 150px;
  top: 307px;
  right: -50px;
}

@media only screen and (max-width: 450px) {
  .easy::after {
    right: -400px;
    top: 160px;
  }
}

.easy .easy__list .easy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}

@media only screen and (max-width: 770px) {
  .easy .easy__list .easy__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.easy .easy__list .easy__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 770px) {
  .easy .easy__list .easy__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.easy .easy__list .easy__item:nth-child(2n) .easy__picture::after {
  left: -500px;
}

.easy .easy__list .easy__item:nth-child(2n) .easy__picture::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 210px;
  background-image: url(../../../img/line-4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: -50%;
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item:nth-child(2n) .easy__picture::before {
    top: -40px;
    margin-left: -100px;
  }
}

.easy .easy__list .easy__item:nth-child(3) .easy__picture::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 160px;
  background-image: url(../../../img/line-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 110px;
  right: -300px;
  z-index: 3;
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item:nth-child(3) .easy__picture::before {
    top: 0;
  }
}

.easy .easy__list .easy__item .easy__title {
  width: 445px;
  font-family: "Space Mono", sans-serif;
  color: #495567;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 770px) {
  .easy .easy__list .easy__item .easy__title {
    text-align: center;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item .easy__title {
    font-size: 32px;
    line-height: 32px;
    width: 311px;
    letter-spacing: -1.42857px;
    margin-bottom: 32px;
  }
}

.easy .easy__list .easy__item .easy__text {
  color: #939CAA;
  width: 445px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 770px) {
  .easy .easy__list .easy__item .easy__text {
    text-align: center;
    width: 573px;
  }
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item .easy__text {
    width: 311px;
    margin-bottom: 32px;
  }
}

.easy .easy__list .easy__item .easy__link {
  color: #fff;
  font-family: "Space Mono", sans-serif;
  padding: 14px 39px;
  background-color: #FCB72B;
}

.easy .easy__list .easy__item .easy__link:hover {
  border: 3px solid #FCB72B;
  color: #FCB72B;
  background-color: #fff;
  padding: 11px 36px;
}

@media only screen and (max-width: 770px) {
  .easy .easy__list .easy__item .easy__link {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item .easy__link {
    margin-left: 70px;
  }
}

.easy .easy__list .easy__item .easy__picture {
  position: relative;
  display: block;
}

.easy .easy__list .easy__item .easy__picture::after {
  content: '';
  display: block;
  position: absolute;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #E5ECF4;
  top: 0;
  right: -500px;
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item .easy__picture::after {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .easy .easy__list .easy__item .easy__picture .easy__picture-img {
    width: 311px;
  }
}

.reklama {
  background-image: url(../../../img/reklama-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

@media only screen and (max-width: 770px) {
  .reklama {
    background-position: right;
  }
}

.reklama .reklama__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 102px;
}

@media only screen and (max-width: 770px) {
  .reklama .reklama__content {
    display: block;
    margin: 0 auto;
    padding-top: 62px;
  }
}

.reklama .reklama__content .reklama__title {
  width: 415px;
  letter-spacing: -2.14286px;
  font-size: 48px;
  line-height: 48px;
  font-family: "Space Mono", sans-serif;
  color: #fff;
}

@media only screen and (max-width: 770px) {
  .reklama .reklama__content .reklama__title {
    text-align: center;
    width: 457px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .reklama .reklama__content .reklama__title {
    font-size: 32px;
    line-height: 32px;
    width: 311px;
  }
}

.reklama .reklama__content .reklama__app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 770px) {
  .reklama .reklama__content .reklama__app-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reklama .reklama__content .reklama__app-links .reklama__link {
  margin-left: 18px;
}

.reklama .reklama__content .reklama__app-links .reklama__link:nth-child(1) {
  margin-left: 0;
}

.footer {
  background-color: #333A44;
  padding: 36px 0;
}

@media only screen and (max-width: 450px) {
  .footer {
    padding: 64px 0 88px;
  }
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 450px) {
  .footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__content .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 450px) {
  .footer .footer__content .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__content .footer__left .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 59px;
}

@media only screen and (max-width: 450px) {
  .footer .footer__content .footer__left .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    margin-top: 41px;
    margin-bottom: 69px;
  }
}

.footer .footer__content .footer__left .footer__list .footer__item {
  margin-right: 32px;
}

@media only screen and (max-width: 450px) {
  .footer .footer__content .footer__left .footer__list .footer__item {
    margin-bottom: 16px;
  }
}

.footer .footer__content .footer__left .footer__list .footer__item .footer__link {
  color: #939CAA;
  font-family: "Space Mono", sans-serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer .footer__content .footer__left .footer__list .footer__item .footer__link:hover {
  color: #FCB72B;
}

.footer .footer__content .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__content .footer__right .icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: #FCB72B;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.footer .footer__content .footer__right .icon:hover {
  fill: #E5ECF4;
}

.about {
  position: relative;
  margin-top: 96px;
}

@media only screen and (max-width: 450px) {
  .about {
    margin-top: 64px;
  }
}

@media only screen and (max-width: 450px) {
  .about .about__bg {
    height: 160px;
  }
}

.about .about__bg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  width: 100%;
  height: 200px;
}

.about .about__title {
  font-family: "Space Mono", sans-serif;
  position: absolute;
  top: 72px;
  left: 120px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff;
}

@media only screen and (max-width: 770px) {
  .about .about__title {
    width: 170px;
    left: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .about .about__title {
    text-align: center;
    width: 401px;
  }
}

.mobility {
  position: relative;
  overflow: hidden;
  margin-top: 120px;
}

@media only screen and (max-width: 450px) {
  .mobility {
    margin-bottom: 72px;
  }
}

.mobility::after {
  content: '';
  position: absolute;
  width: 735px;
  height: 138px;
  background-image: url(../../../img/line-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: 268px;
  right: -30px;
}

@media only screen and (max-width: 450px) {
  .mobility::after {
    right: -350px;
    top: 150px;
  }
}

.mobility .mobility__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

@media only screen and (max-width: 770px) {
  .mobility .mobility__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.mobility .mobility__content:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content:nth-child(2) .mobility__picture img {
    width: 311px;
  }
}

.mobility .mobility__content:nth-child(2) .mobility__picture::after {
  content: '';
  position: absolute;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #E5ECF4;
  left: -509px;
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content:nth-child(2) .mobility__picture::after {
    display: none;
  }
}

.mobility .mobility__content:nth-child(2) .mobility__picture::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 138px;
  background-image: url(../../../img/line-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -230px;
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content:nth-child(2) .mobility__picture::before {
    left: -150px;
  }
}

.mobility .mobility__content .mobility__title {
  width: 445px;
  font-family: "Space Mono", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  margin-bottom: 24px;
}

@media only screen and (max-width: 770px) {
  .mobility .mobility__content .mobility__title {
    width: 457px;
    letter-spacing: -2.14px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 56px;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content .mobility__title {
    width: 311px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
    margin-bottom: 32px;
  }
}

.mobility .mobility__content .mobility__text {
  width: 445px;
  color: #939CAA;
}

@media only screen and (max-width: 770px) {
  .mobility .mobility__content .mobility__text {
    width: 573px;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content .mobility__text {
    width: 311px;
    margin: 0 auto;
  }
}

.mobility .mobility__content .mobility__picture {
  position: relative;
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content .mobility__picture img {
    width: 311px;
  }
}

.mobility .mobility__content .mobility__picture::after {
  content: '';
  position: absolute;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #E5ECF4;
  right: -509px;
}

@media only screen and (max-width: 450px) {
  .mobility .mobility__content .mobility__picture::after {
    display: none;
  }
}

.values {
  margin-bottom: 120px;
}

.values__title {
  font-family: "Space Mono", sans-serif;
  color: #495567;
  text-align: center;
  margin-bottom: 103px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
}

@media only screen and (max-width: 450px) {
  .values__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
  }
}

.values__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 770px) {
  .values__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.values__list .values__item {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

@media only screen and (max-width: 770px) {
  .values__list .values__item {
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 450px) {
  .values__list .values__item {
    width: 311px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}

.values__list .values__item:nth-child(3) {
  margin-right: 0;
}

.values__list .values__item .values__picture {
  position: relative;
}

.values__list .values__item .values__picture--number {
  position: absolute;
  bottom: -40px;
  left: 75px;
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  background-color: #FCB72B;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.values__list .values__item .values__subtitle {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-top: 87px;
  margin-bottom: 27px;
  text-align: center;
}

.values__list .values__item .values__text {
  color: #939CAA;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .values__list .values__item .values__text {
    width: 457px;
  }
}

@media only screen and (max-width: 450px) {
  .values__list .values__item .values__text {
    width: 311px;
  }
}

.faqs {
  margin-bottom: 160px;
}

.faqs .faqs__title {
  color: #495567;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-family: "Space Mono", sans-serif;
  margin-bottom: 64px;
}

@media only screen and (max-width: 450px) {
  .faqs .faqs__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
    margin-bottom: 48px;
  }
}

.faqs .faqs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

@media only screen and (max-width: 770px) {
  .faqs .faqs__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.faqs .faqs__list .faqs__item .faqs__subtitle {
  width: 350px;
  font-family: "Space Mono", sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #495567;
}

@media only screen and (max-width: 770px) {
  .faqs .faqs__list .faqs__item .faqs__subtitle {
    margin-bottom: 32px;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .faqs .faqs__list .faqs__item .faqs__subtitle {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.43px;
  }
}

.faqs .faqs__list .wrapper .wrapper__list .wrapper__item {
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 32px 40px;
  background-color: #F2F5F9;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.faqs .faqs__list .wrapper .wrapper__list .wrapper__item:hover {
  background-color: #FFF4DF;
}

.faqs .faqs__list .wrapper .wrapper__list .wrapper__item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 8px;
  background-image: url(../../../img/about/wrapper.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 44px;
  right: 40px;
}

.faqs .faqs__list .wrapper .wrapper__list .wrapper__item .wrapper__title {
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  font-family: "Space Mono", sans-serif;
  letter-spacing: -1.07143px;
}

@media only screen and (max-width: 450px) {
  .faqs .faqs__list .wrapper .wrapper__list .wrapper__item .wrapper__title {
    font-size: 18px;
    line-height: 24px;
    width: 219px;
    letter-spacing: -0.8px;
  }
}

.faqs .faqs__list .wrapper .wrapper__list .wrapper__item .mb {
  margin-bottom: 24px;
}

.faqs .faqs__list .wrapper .wrapper__list .wrapper__item .wrapper__text {
  width: 650px;
  color: #495567;
}

@media only screen and (max-width: 450px) {
  .faqs .faqs__list .wrapper .wrapper__list .wrapper__item .wrapper__text {
    width: 251px;
  }
}

.location {
  position: relative;
  margin-top: 96px;
  margin-bottom: 120px;
}

@media only screen and (max-width: 450px) {
  .location {
    margin-bottom: 72px;
    margin-top: 64px;
  }
}

.location .location__picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .location .location__picture img {
    height: 160px;
  }
}

.location__title {
  position: absolute;
  top: 60px;
  left: 115px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff;
  font-family: "Space Mono", sans-serif;
}

@media only screen and (max-width: 770px) {
  .location__title {
    top: 25px;
    width: 150px;
    left: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .location__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 110px;
    top: 65px;
  }
}

.map {
  margin-bottom: 120px;
}

.map .map__picture img {
  width: 100%;
}

.map .city {
  display: none;
  margin-top: 40px;
}

@media only screen and (max-width: 450px) {
  .map .city {
    display: block;
  }
}

.map .city .city__item {
  padding: 22px 100px;
  background-color: rgba(252, 183, 43, 0.15);
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  font-family: "Space Mono", sans-serif;
  color: #495567;
}

.map .city .city__item:hover {
  background-color: #fcb72b;
}

.map .map__write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

@media only screen and (max-width: 770px) {
  .map .map__write {
    margin-top: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.map .map__write .map__title {
  width: 351px;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  font-family: "Space Mono", sans-serif;
  letter-spacing: -2.14286px;
}

@media only screen and (max-width: 770px) {
  .map .map__write .map__title {
    text-align: center;
    width: 457px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .map .map__write .map__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.43px;
    margin-bottom: 32px;
    width: 311px;
  }
}

.map .map__write .map__text {
  color: #939CAA;
  width: 445px;
}

@media only screen and (max-width: 770px) {
  .map .map__write .map__text {
    text-align: center;
    margin-bottom: 40px;
    width: 573px;
  }
}

@media only screen and (max-width: 450px) {
  .map .map__write .map__text {
    width: 311px;
  }
}

.map .map__write .map__link {
  color: #fff;
  background-color: #FCB72B;
  padding: 14px 43.5px 14px 44.5px;
}

.map .map__write .map__link:hover {
  border: 3px solid #FCB72B;
  background-color: transparent;
  color: #FCB72B;
  padding: 11px 40.3px 11px 41.5px;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
  overflow-x: hidden;
}

@media only screen and (max-width: 770px) {
  .mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 770px) {
  .mission .mission__write {
    text-align: center;
  }
}

.mission .mission__write .mission__title {
  width: 445px;
  color: #495567;
  font-family: "Space Mono", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 770px) {
  .mission .mission__write .mission__title {
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .mission .mission__write .mission__title {
    width: 311px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
    margin-bottom: 32px;
  }
}

.mission .mission__write .mission__text {
  width: 445px;
  color: #939CAA;
  margin-bottom: 40px;
}

@media only screen and (max-width: 770px) {
  .mission .mission__write .mission__text {
    width: 573px;
  }
}

@media only screen and (max-width: 450px) {
  .mission .mission__write .mission__text {
    width: 311px;
  }
}

.mission .mission__write .mission__link {
  color: #fff;
  padding: 14px 48px;
  background-color: #FCB72B;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: 53px;
  width: 180px;
  text-align: center;
}

.mission .mission__write .mission__link:hover {
  background-color: transparent;
  border: 3px solid #FCB72B;
  padding: 11px 45px;
  color: #FCB72B;
}

.mission__picture {
  position: relative;
}

@media only screen and (max-width: 450px) {
  .mission__picture img {
    width: 311px;
  }
}

.mission__picture::after {
  content: '';
  position: absolute;
  width: 735px;
  height: 150px;
  background-image: url(../../../img/line-3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -140px;
  bottom: 0;
}

@media only screen and (max-width: 770px) {
  .mission__picture::after {
    left: -80px;
  }
}

@media only screen and (max-width: 450px) {
  .mission__picture::after {
    left: 0;
  }
}

.works {
  margin-bottom: 120px;
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 64px 35px 40px;
  background-color: #F2F5F9;
  margin-bottom: 24px;
}

@media only screen and (max-width: 450px) {
  .works__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 36px 32px 32px;
  }
}

.works__content .works__title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  font-family: "Space Mono", sans-serif;
  margin-bottom: 8px;
}

@media only screen and (max-width: 450px) {
  .works__content .works__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: center;
  }
}

.works__content .works__text {
  color: #495567;
}

@media only screen and (max-width: 450px) {
  .works__content .works__text {
    text-align: center;
    margin-bottom: 16px;
  }
}

.works__content .works__link {
  color: #fff;
  font-family: "Space Mono", sans-serif;
  padding: 14px 67.5px;
  background-color: #FCB72B;
}

.works__content .works__link:hover {
  color: #FCB72B;
  background-color: transparent;
  border: 3px solid #FCB72B;
  padding: 11px 64.5px;
}
