.mobility{
    position: relative;
    overflow: hidden;
    margin-top: 120px;
    
    @media only screen and (max-width: 450px) {
        margin-bottom: 72px;
    }
    
    &::after{
        content: '';
        position: absolute;
        width: 735px;
        height: 138px;
        background-image: url(../../../img/line-3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotateX(180deg);
        top: 268px;
        right: -30px;
        
        @media only screen and (max-width: 450px) {
            right: -400px;
            top: 150px;
        }
    }
    
    .mobility__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 120px;
        
        @media only screen and (max-width: 770px) {
            flex-direction: column-reverse;
        }
        
        &:nth-child(2){
            flex-direction: column-reverse;
            
            .mobility__picture{
                
                @media only screen and (max-width: 450px) {
                    img{
                        width: 311px;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 445px;
                    height: 445px;
                    border-radius: 50%;
                    background-color: #E5ECF4;
                    left: -509px;
                    
                    @media only screen and (max-width: 450px) {
                        display: none;
                    }
                }
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 500px;
                    height: 138px;
                    background-image: url(../../../img/line-2.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    left: -230px;
                    
                    @media only screen and (max-width: 450px) {
                        left: -150px;
                    }
                }
            }
        }
        
        .mobility__title{
            width: 445px;
            font-family: $font;
            font-size: 48px;
            line-height: 48px;
            color: $color-dark;
            margin-bottom: 24px;
            
            @media only screen and (max-width: 770px) {
                width: 457px;
                letter-spacing: -2.14px;
                margin: 0 auto;
                margin-bottom: 40px;
                margin-top: 56px;
                text-align: center;
                
            }
            
            @media only screen and (max-width: 450px) {
                width: 311px;
                font-size: 32px;
                line-height: 32px;
                letter-spacing: -1.43px;
                margin-bottom: 32px;
            }
        }
        
        .mobility__text{
            width: 445px;
            color: $color-gray;
            
            @media only screen and (max-width: 770px) {
                width: 573px;
                text-align: center;
            }
            
            @media only screen and (max-width: 450px) {
                width: 311px;
                margin: 0 auto;
            }
        }
        
        .mobility__picture{
            position: relative;
            
            @media only screen and (max-width: 450px) {
                
                img{
                    width: 311px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 445px;
                height: 445px;
                border-radius: 50%;
                background-color: #E5ECF4;
                right: -509px;
                
                @media only screen and (max-width: 450px) {
                    display: none;
                }
            }
            
        }
    }
    
}