.mission{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 120px;
   overflow-x: hidden;
   
   @media only screen and (max-width: 770px) {
      flex-direction: column-reverse;
   }
   
   .mission__write{
      
      @media only screen and (max-width: 770px) {
         text-align: center;
      }
      
      .mission__title{
         width: 445px;
         color: $color-dark;
         font-family: $font;
         font-size: 48px;
         line-height: 48px;
         letter-spacing: -2.14286px;
         margin-bottom: 24px;
         
         @media only screen and (max-width: 770px) {
            margin: 0 auto;
            margin-top: 64px;
            margin-bottom: 40px;
         }

         @media only screen and (max-width: 450px) {
            width: 311px;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            margin-bottom: 32px;
         }
      }
      
      .mission__text{
         width: 445px;
         color: $color-gray;
         margin-bottom: 40px;
         
         @media only screen and (max-width: 770px) {
            width: 573px;
         }

         @media only screen and (max-width: 450px) {
            width: 311px;
         }
      }
      
      .mission__link{
         color: #fff;
         padding: 14px 48px;
         background-color: $color-orande;
         transition: .5s ease;
         height: 53px;
         width: 180px;
         text-align: center;
         
         &:hover{
            background-color: transparent;
            border: 3px solid $color-orande;
            padding: 11px 45px;
            color: $color-orande;
         }
      }
   }
   
   &__picture{
      position: relative;
      
      @media only screen and (max-width: 450px) {
         img{
            width: 311px;
         }
      }
      
      &::after{
         content: '';
         position: absolute;
         width: 735px;
         height: 150px;
         background-image: url(../../../img/line-3.svg);
         background-repeat: no-repeat;
         background-size: contain;
         left: -140px;
         bottom: 0;
         
         @media only screen and (max-width: 770px) {
            left: -80px;
         }
         
         @media only screen and (max-width: 450px) {
            left: 0;
         }
      }
   }
   
}