.map{
   margin-bottom: 120px;
   
   
   
   .map__picture{
      
      img{
         width: 100%;
      }
   }
   
   .city{
      display: none;
      margin-top: 40px;
      
      @media only screen and (max-width: 450px) {
         display: block;
      }
      
      .city__item{
         padding: 22px 100px;
         background-color: rgba(252, 183, 43, 0.15);
         text-align: center;
         margin-bottom: 16px;
         font-size: 24px;
         line-height: 28px;
         letter-spacing: -1.07143px;
         font-family: $font;
         color: $color-dark;

         &:hover{
            background-color: rgba(252, 183, 43, 1);
         }
      }
   }
   
   .map__write{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 120px;
      
      @media only screen and (max-width: 770px) {
         margin-top: 64px;
         flex-direction: column;
      }
      
      .map__title{
         width: 351px;
         font-size: 48px;
         line-height: 48px;
         color: $color-dark;
         font-family: $font;
         letter-spacing: -2.14286px;
         
         @media only screen and (max-width: 770px) {
            text-align: center;
            width: 457px;
            margin-bottom: 40px;
         }
         
         @media only screen and (max-width: 450px) {
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 1.43px;
            margin-bottom: 32px;
            width: 311px;
         }
      }
      .map__text{
         color: $color-gray;
         width: 445px;
         
         @media only screen and (max-width: 770px) {
            text-align: center;
            margin-bottom: 40px;
            width: 573px;
         }
         
         @media only screen and (max-width: 450px) {
            width: 311px;
            
         }
      }
      
      .map__link{
         color: #fff;
         background-color: $color-orande;
         padding: 14px 43.5px 14px 44.5px;
         // transition: .3s ease;
         
         &:hover{
            border: 3px solid $color-orande;
            background-color: transparent;
            color: $color-orande;
            padding: 11px 40.3px 11px 41.5px;
         }
      }
   }
}