.map{
   margin-bottom: 120px;

   
   
   .map__picture{
      
      img{
         width: 100%;
      }
   }
   
   .map__write{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 120px;
      
      @media only screen and (max-width: 770px) {
         margin-top: 64px;
         flex-direction: column;
      }
      
      .map__title{
         width: 351px;
         font-size: 48px;
         line-height: 48px;
         color: $color-dark;
         font-family: $font;
         letter-spacing: -2.14286px;
         
         @media only screen and (max-width: 770px) {
            text-align: center;
            width: 457px;
            margin-bottom: 40px;
         }
      }
      .map__text{
         color: $color-gray;
         width: 445px;
         
         @media only screen and (max-width: 770px) {
            text-align: center;
            margin-bottom: 40px;
            width: 573px;
         }
      }
      
      .map__link{
         color: #fff;
         background-color: $color-orande;
         padding: 14px 43.5px 14px 44.5px;
         // transition: .3s ease;
         
         &:hover{
            border: 3px solid $color-orande;
            background-color: transparent;
            color: $color-orande;
            padding: 11px 40.3px 11px 41.5px;
         }
      }
   }
}